

  <div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div></div>

    <div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element" style="text-align: center;">
                        <span>
                            <img alt="image" class="img-circle" src="/images/profile_small.jpg">
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                              <span class="block m-t-xs">
                                <strong class="font-bold">{{currUser.name}}</strong>
                              </span>
                            </span>
                        </a>
                    </div>
                    <div class="logo-element">
                        NA+
                    </div>
                </li>
                
              
              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-user"></i>
                  <span class="nav-label">同洲电子</span>
                  <span class="label label-info pull-right">62</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-user"></i>
                  <span class="nav-label">大米科技</span>
                  <span class="label label-info pull-right">62</span>
                </a>
              </li>
              
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg" style="min-height: 659px;">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="javascript:void(0)">
              <i class="fa fa-bars"></i>
          </a>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to NAIYA CHAT.</span>
                </li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="http://webapplayers.com/inspinia_admin-v2.6.2.1/form_basic.html#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="http://webapplayers.com/inspinia_admin-v2.6.2.1/mailbox.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="http://webapplayers.com/inspinia_admin-v2.6.2.1/profile.html">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="http://webapplayers.com/inspinia_admin-v2.6.2.1/grid_options.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="http://webapplayers.com/inspinia_admin-v2.6.2.1/notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-sign-out"></i> 退出
                    </a>
                </li>
            </ul>

        </nav>
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2><i class="fa fa-comments"></i> {{chatUser.name}}</h2>
                </div>
                <div class="col-lg-2">
                  
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="small-chat-box fadeInRight animated">

              <div class="content content-msg" id="content-msg">

                  
                
              </div>
              
              <div class="form-chat">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" placeholder="发送消息" ng-model="content" />
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="sendMsg()">发送</button>
                  </span>
                </div>
              </div>

          </div>

        </div>
        
      
        <div class="footer">
            <div class="pull-right">
                
            </div>
            <div>
                <strong>Copyright</strong> NaiYa © 2014-2017
            </div>
        </div>
      
    </div>
 </div>

